Q1. What are the three measures of central tendency?

In [1]:
#Mean Median and Mode are three measures of Central Tendency

Q2. What is the difference between the mean, median, and mode? How are they used to measure the
central tendency of a dataset?

In [3]:
#Mean is average of all data in dataset
#While median is midpoint of all points in data
#Mode is most repeated value in data
#Mean tells how what is on an averagwe value
#While median tells what is medial of all datapoint
#Mode tells which data got repeated in dataset for most of the time

Q3. Measure the three measures of central tendency for the given height data:

 [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [4]:
import pandas as pd
data=pd.DataFrame({"Data":[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]})

In [5]:
data

     Data
0   178.0
1   177.0
2   176.0
3   177.0
4   178.2
5   178.0
6   175.0
7   179.0
8   180.0
9   175.0
10  178.9
11  176.2
12  177.0
13  172.5
14  178.0
15  176.5

In [6]:
data.describe()

             Data
count   16.000000
mean   177.018750
std      1.847239
min    172.500000
25%    176.150000
50%    177.000000
75%    178.050000
max    180.000000

In [8]:
data['Data'].mean()

177.01875

In [9]:
data['Data'].median()

177.0

In [10]:
from scipy import stats
stats.mode(data['Data'])

/tmp/ipykernel_1264/1021471907.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(data['Data'])

ModeResult(mode=array([177.]), count=array([3]))

Q4. Find the standard deviation for the given data:

[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [11]:
data

     Data
0   178.0
1   177.0
2   176.0
3   177.0
4   178.2
5   178.0
6   175.0
7   179.0
8   180.0
9   175.0
10  178.9
11  176.2
12  177.0
13  172.5
14  178.0
15  176.5

In [12]:
data.std()

Data    1.847239
dtype: float64

In [13]:
data['Data'].std()

1.847238930584419

Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe
the spread of a dataset? Provide an example.

In [14]:
data

     Data
0   178.0
1   177.0
2   176.0
3   177.0
4   178.2
5   178.0
6   175.0
7   179.0
8   180.0
9   175.0
10  178.9
11  176.2
12  177.0
13  172.5
14  178.0
15  176.5

In [15]:
data.mean()

Data    177.01875
dtype: float64

In [16]:
data.median()

Data    177.0
dtype: float64

In [17]:
from scipy import stats
stats.mode(data['Data'])

/tmp/ipykernel_1264/1021471907.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(data['Data'])

ModeResult(mode=array([177.]), count=array([3]))

In [19]:
data.var()

Data    3.412292
dtype: float64

In [20]:
data.std()

Data    1.847239
dtype: float64

In [21]:
#From all these we can ssay data is symmetrically distributed and does not have any skewness
#Also data will form gausian or normal distribution 
#It will have bell curve like pdf

Q6. What is a Venn diagram?

In [22]:
#Venn diagram is representaion of Data in set form using circular or other geometrical symbols
#We can use venn diagram to show intersection difference complement universal data points representation

Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:

(i) 	A n B

(ii)	A â‹ƒ B

In [26]:
A = (2,3,4,5,6,7)

In [27]:
B = (0,2,6,8,10)

In [29]:
A=set(A)
B=set(B)

In [30]:
set.intersection(A,B)

{2, 6}

In [31]:
set.union(A,B)

{0, 2, 3, 4, 5, 6, 7, 8, 10}

Q8. What do you understand about skewness in data?

In [33]:
#It tells how well our data is centralized or dispersed 
#If data representated using graph is symmetrical then there is no skewness in this case it has same mean mode and median
#Data can be right skewed where mode<median<mean
#For data to be left skewed we have mean>median>mode
#For various skewwness we have distribution form this skewness can be formed using probablity distribution function or kernel denstity estimator
#Like for right skewed data we have smoothning of graph shaped called Log Normal Dsistributuion

Q9. If a data is right skewed then what will be the position of median with respect to mean?

In [34]:
#Data can be right skewed where mode<median<mean
#For various skewwness we have distribution form this skewness can be formed using probablity distribution function or kernel denstity estimator
#Like for right skewed data we have smoothning of graph shaped called Log Normal Dsistributuion

Q10. Explain the difference between covariance and correlation. How are these measures used in
statistical analysis?

In [36]:
#Covariance is how x varies wrt to y or y wrt x
#While correlation is how x is related to y or y is related to x
#We can use this to corelate twp different data
#Like is one data increasing with other or decreasing or no effect
#For this we use co variance or for more effectiveness spearson or peakerson
#Through this we can make various assumption

Q11. What is the formula for calculating the sample mean? Provide an example calculation for a
dataset.

In [37]:
#Sample mean(x(bar))=summation over xi divided by total sample data points

data

In [41]:
data.mean()

Data    177.01875
dtype: float64

In [42]:
l=data['Data'].to_list()

In [43]:
l=l[6:12]

In [44]:
l

[175.0, 179.0, 180.0, 175.0, 178.9, 176.2]

In [47]:
sum(l)/len(l)

177.35

In [48]:
#Therefore we can see sample mean and population mean are almost same also mean mode  median are same for this data so we can see this data forms Normal or Gaussian distribution

Q12. For a normal distribution data what is the relationship between its measure of central tendency?

In [49]:
#As this data is symmetrical and no skewness is present 
#Therefore here mean = mode = median

Q13. How is covariance different from correlation?

In [50]:
#Covariance shows how two variable differ while 
#Correlation shows how to variable are related
#We can find covariance using cov(x,y)
#While for correlation we use spearson peakerson like methods

Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.

In [51]:
#Outlier affects badly on mean it changes mean value
#While dispersion outlier change pdf plot shape