Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
#DATABASE IS BASICALLY STORE HOUSE OF A DATA
#WE CAN STORE DATA IN DATABASE USING QUERY LANGUAGE
#DATABASE CAN BE CLASSIFIED INTO AS RELATIVE DATA BASE MANAGEMENT SYSTEM AND DATA BASE MANAGEMENT SYSTEM
#SQL STANDS FOR STRUCTURED QUERY LANGUAGE AND NOSQL STANDS FOR NOT ONLY STRUCTURED QUERY LANGUAGE
#WE CAN HANDLE ORGANIZED DATA IN SQL
#WHILE IN NOSQK WE CAN HANDLE NON ORGANIZED DATA LIKE FILES AUDIO VIDEO IMAGES ETC

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [3]:
#DDL STANDS FOR DATA DEFINING LANGUAGE 
#EXAMPLES OF DDL COMMANDS ARE CREATE DROP ALTER TRUNCATE ETC
#CREATE IS USED TO CREATE DATABASE TABLES
#EG: CREATE DATABASE NAME     CREATE TABLE NAME.MY
#DROP SIMILAR TO DELETE COMMAND 
#EG:DROP DATABASE NAME       DROP DATABASE NAME.MY
#ALTER ALLOWS US TO MODIFY TABLE OR DATA IN DATABASE
#EG:ALTER TABLE NAME
#TRUNCATE IS USED TO REMOVE ALL ROWS IN TABLE
#EG:TRUNCATE TABLE NAME.MY

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [4]:
#DML STANDS FOR DATA MODIFYING LANGUAGE 
#EXAMPLES OF DML COMMANDS ARE INSERT UPDATE DELETE ETC
#INSERT IS USED TO INSERT VALUES OR DATA IN OUR DATABASES TABLES
#EG: INSERT DATABASE COLUMN VALUES
#UPDATE IS USED TO UPDATE DATABASE VALUES
#EG:UPDATE DATABASE TABLE COUMNS 
#DELETE IS USED TO DELETE THE PARTICULAR OR SPECIFIC VALUE
#DELETE TABLE WHERE (CONDITION)

Q4. What is DQL? Explain SELECT with an example.

In [6]:
#DQL STANDS FOR DATA QUERY LANFGUAGE
#SELECT IS AN EXAMPLE OF DATA QUERY LANGUAGE 
#SELECT COMMAND RETRIVES VALUES FROM DATABASE AND SHOWS IN OUTPUT
#SELECT TAKES FROM AND WHERE VALUES 
#FROM TO TELL FROM WHICH TABLE AND DATABASE
#AND WHERE TO TELL FROM WHICH PART OF DATA

Q5. Explain Primary Key and Foreign Key.

In [8]:
#A PRIMARY KEY GENERALLY FOCCUSES OF UNIQUENESS OF TABLE
#IT ASSURES THAT VALUES IN PARTICULAR COLUMN IS UNIQUE
#A FORIENG KEY IS USED TO GENERALLY BUIT RELATIONSHIP BETWEEN TWO TABLES

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [14]:
"""
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
"""
#THE ABOVE CODE TAKES HOST NAME AND PASSWORD AS INPUT AND CONNECTS PYTHON TO MYSQL
#WITH THE CURSOR AND EXECUTE WE CAN OPERATE ON DATABASE IN MYSQL USING PYTHON
#THIS METHOD EXECTES THE DATABASE OPERATION(QUERY OR COMMAND). 
#THE PARAMETERS FOUND IN FORM OF TUPLES AND DICTIONARY ARE BOUND TO VARIABLES IN OPERATION

'\nimport mysql.connector\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\n'

Q7. Give the order of execution of SQL clauses in an SQL query.

In [16]:
#THE ORDER IN WHICH QUEREY ARE EXCEUTED IS AS FOLOWS:

#1.FROM/JOIN
#2.WHERE
#3.GROUP BY
#4.HAVING
#5.SELECT
#6.ORDER BY
#7.LINIT/OFFSET