Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

In [3]:
#MongoDB is very famous NOSQL NON-Relational DataBase
#It is non organzed database
#Mongo Db is widely used due to it's unorganized structure
#Mongo DB is preffered to use when we don't have data of same kind
#We can handle all type of data like files, audio, images ,videos,text,etc
#This not possible in SQL
#In such scenario Mongo DB is preffered

Q2. State and Explain the features of MongoDB.

In [6]:
#Mongo Db collection can have various types of Data
#Thier is no rectriction in storing data in Mongo Db Database
#It allows to store Data on large scale
#Storing retriveing and other data operations are performed very effectively and effiecintly

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [9]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.6 MB/s eta 0:00:0000:0100:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 36.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.vpmkyl5.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [30]:
client

MongoClient(host=['ac-rawbnhh-shard-00-01.vpmkyl5.mongodb.net:27017', 'ac-rawbnhh-shard-00-00.vpmkyl5.mongodb.net:27017', 'ac-rawbnhh-shard-00-02.vpmkyl5.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-hm0ee1-shard-0', tls=True)

In [31]:
db = client['pwskills']

In [32]:
coll_create = db["my_record"]

In [33]:
data={"Name":"Rohan","City":"Mumbai","Mobile":1234567890,"Address":"India"}

In [34]:
coll_create.insert_one(data)

In [35]:
#Therefore here pwskills is database name and my_record is collection and data as data is stored in this collection

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [36]:
data1={"Car":"Mercedes","Wheels":4,"Number":"AF TB 7845","Address":"India"}
coll_create.insert_one(data1)

In [38]:
data2 = [
  { "Name": "Amay", "Address": "America" },
  { "Name": "Hannah", "Address": "Mountain 21" },
  { "Name": "Michael", "Address": "Valley 345" },
  { "Name": "Sandy", "Address": "Ocean blvd 2" },
  { "Name": "Betty", "Address": "Green Grass 1" },
  { "Name": "Richard", "Address": "Sky st 331" },
  { "Name": "Susan", "Address": "One way 98" },
  { "Name": "Vicky", "Address": "Yellow Garden 2" },
  { "Name": "Ben", "Address": "Park Lane 38" },
  { "Name": "William", "Address": "Central st 954" },
  { "Name": "Chuck", "Address": "Main Road 989" },
  { "Name": "Viola", "Address": "Sideway 1633" }
]
coll_create.insert_many(data2)

In [41]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f0fb6fcd408d85ae0607ee'), 'Name': 'Rohan', 'City': 'Mumbai', 'Mobile': 1234567890, 'Address': 'India'}
{'_id': ObjectId('63f0fea3cd408d85ae0607ef'), 'Car': 'Mercedes', 'Wheels': 4, 'Number': 'AF TB 7845', 'Address': 'India'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f0'), 'Name': 'Amay', 'Address': 'America'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f1'), 'Name': 'Hannah', 'Address': 'Mountain 21'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f2'), 'Name': 'Michael', 'Address': 'Valley 345'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f3'), 'Name': 'Sandy', 'Address': 'Ocean blvd 2'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f4'), 'Name': 'Betty', 'Address': 'Green Grass 1'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f5'), 'Name': 'Richard', 'Address': 'Sky st 331'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f6'), 'Name': 'Susan', 'Address': 'One way 98'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f7'), 'Name': 'Vicky', 'Address': 'Yellow Garden 2'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f8'), 'Name': 'Ben', 'Address': 'Park Lane 38'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f9'), 'Name': 'William', 'Address': 'Central st 954'}
{'_id': ObjectId('63f0ff13cd408d85ae0607fa'), 'Name': 'Chuck', 'Address': 'Main Road 989'}
{'_id': ObjectId('63f0ff13cd408d85ae0607fb'), 'Name': 'Viola', 'Address': 'Sideway 1633'}

In [42]:
coll_create.find_one()

{'_id': ObjectId('63f0fb6fcd408d85ae0607ee'),
 'Name': 'Rohan',
 'City': 'Mumbai',
 'Mobile': 1234567890,
 'Address': 'India'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [43]:
for i in coll_create.find({'Address': 'India'}):
    print(i)

{'_id': ObjectId('63f0fb6fcd408d85ae0607ee'), 'Name': 'Rohan', 'City': 'Mumbai', 'Mobile': 1234567890, 'Address': 'India'}
{'_id': ObjectId('63f0fea3cd408d85ae0607ef'), 'Car': 'Mercedes', 'Wheels': 4, 'Number': 'AF TB 7845', 'Address': 'India'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [57]:
for i in coll_create.find({},{"Name"}):
    print(i)

{'_id': ObjectId('63f0fb6fcd408d85ae0607ee'), 'Name': 'Rohan'}
{'_id': ObjectId('63f0fea3cd408d85ae0607ef')}
{'_id': ObjectId('63f0ff13cd408d85ae0607f0'), 'Name': 'Amay'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f1'), 'Name': 'Hannah'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f2'), 'Name': 'Michael'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f3'), 'Name': 'Sandy'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f4'), 'Name': 'Betty'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f5'), 'Name': 'Richard'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f6'), 'Name': 'Susan'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f7'), 'Name': 'Vicky'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f8'), 'Name': 'Ben'}
{'_id': ObjectId('63f0ff13cd408d85ae0607f9'), 'Name': 'William'}
{'_id': ObjectId('63f0ff13cd408d85ae0607fa'), 'Name': 'Chuck'}
{'_id': ObjectId('63f0ff13cd408d85ae0607fb'), 'Name': 'Viola'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [83]:
coll_create.delete_one(data)

In [85]:
coll_create.delete_many(data1)

In [86]:
coll_create.drop()